.container{
    font-size: 16px;
    margin-top: -3em;
    height: calc(100% + 3em);
    display: flex;
    flex-direction: column;
    position: relative;
}
.profile{
    background-color: var(--black);
    height: 40%;
    text-align: center;
    padding: 2em;
}
.user-img{
    width: 7em;
    height: 7em;
    border: solid .2em var(--white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.courses{
    height: 60%;
    padding: 2em 0;
    display: flex;
    overflow-y: scroll;
}

@media (min-width:1024px){
    .container{
        font-size: 25px;
        flex-direction: row;
    }
    .profile{
        width: 30%;
        height: 100%;
    }
    .courses{
        width: 70%;
        height: 100%;
        padding: 2em;
        display: flex;
        flex-wrap: wrap;
    }
    .user-img{
        width: 10em;
        height: 10em;
    }
    .user-name{
        font-size: 2em;
    }
}